.class {
    padding: 10%;
    height: 100%;
    font-size: 0.85em;
}

.lecture {
    background-color: #F49F8C;
}

.lab {
    background-color: #ccffff;
}

.tutorial {
    background-color: #EBE05E;
}

.slot {
    border-top: 1px solid gray;
    border-right: 1px solid gray;
}

.timetable {
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
}

.paragraph {
    margin-top: 1%;
    margin-left: 2%;
}