.lecture, .lab, .tutorial {
    padding: 10%;
}

.lecture {
    background-color: #F49F8C;
}

.lab {
    background-color: #ccffff;
}

.tutorial {
    background-color: #EBE05E;
}

.col-1, .col-2, .col-3 {
    border-bottom: 1px groove;
    border-left: 1px groove;
}

.col-10 {
    border-bottom: 1px groove;
}

.col {
    border-left: 1px groove;
}

.paragraph {
    margin-top: 1%;
    margin-left: 2%;
}

.desktop {
    position: absolute;
}

.mobile {
    display: none;
}

/* mobile view */
@media screen and (max-width: 768px) {

    .desktop {
        display: none;
    }

    .mobile {
        position: absolute;
        display: table-column;
    }

}